.site {
  padding: 40px;
  height: 100%;
}

.post {
  position: relative;
  z-index: 20;
  background-color: $background-color;

  picture:last-of-type img {
    margin-bottom: 20px;
  }
}

@include media-query($mobile) {
  .site {
    padding: 20px;
  }
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 40px;
  font-size: 12px;
  color: #67917A;
  z-index: 10;

  a {
    color: #67917A;
    text-decoration: none;

    &:visited {
      color: #67917A;
    }

    &:hover {
      color: #67917A;
      text-decoration: underline;
    }

  }

}

@include media-query($mobile) {
  .footer {
    right: 20px;
  }
}
